<%= render template: "layouts/header" %>

<%= form_for(Tadpole.new) do |t| %>
  Tadpole Name: <%= t.text_field :name %><br />
  
  <!-- I want to convert this section to the rails way later -->
  <label for="parent">Parent</label>
  <select id="parent" name="frog_id">
    <% @frogs.each do |frog| %>
      <option value="<%= frog.id %>"><%= frog.name %></option>
    <% end %>
  </select>
  <!-- end section -->

  <br>
  <%= t.submit %>
<% end %>

<%= link_to 'Back', tadpoles_path %>
<%= render template: "layouts/footer" %>
